#hello {
  font-size: 25px;
  color: rgb(69, 115, 214);
 font-family: Arial, Helvetica, sans-serif;
  border-bottom: 9px solid #5f4ced;
}
body {
   background: linear-gradient(to right, purple, blue);
}
.repo-button{
  radius:5px;
  color: #40719c;
  background: #84accf;
}
.repo-button:hover {
  background: #005aa8;
}
